
* {
	padding: 0;
	margin: 0;
}

p {
	font-size: 20px;
	color: white;
	padding: 10px;
}

h3 {
	font-size: 40px;
	color: white;
	padding: 10px;
}

.flower-container {
	background-color: rgba(0,0,0,0);
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.flower-padding {
}

.flower-header {
	background-image: url('flowerHeader.png');
	background-size: 100% 100%;
}

.flower-elements-container {
	overflow-x: hidden;
	overflow-y: scroll;
}

.flower-element-title {
	background-image: url('flowerContentHeader.png');
	background-size: 100% 100%;
	height: 44px;
	text-align: center;
}

.flower-element-content {
	background-color: rgba(105,77,31, 0.5);
	height: auto;
	word-wrap: break-word;
}

.flower-element-footer {
	background-image: url('flowerContentFooter.png');
	background-size: 100% 100%;
	height: 41px;
	text-align: center;
}

.flower-footer {
	background-image: url('flowerFooter.png');
	background-size: 100% 100%;
	height: 55px;
}
