
* {
	padding: 0;
	margin: 0;
}

p {
	font-size: 10px;
}

.flower-container {
	background-color: rgba(0,0,0,0);
	width: 250px;
	height: 500px;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.flower-padding {
	width: 250px;
	height: 250px;
}

.flower-header {
	background-image: url('flowerHeader.png');
	width: 250px;
	height: 250px;
}

.flower-elements-container {
	width: 250px;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.flower-element-title {
	background-image: url('flowerContentHeader.png');
	width: 250px;
	height: 44px;
	text-align: center;
}

.flower-element-content {
	background-color: rgba(105,77,31, 1.0);
	width: 250px;
	height: auto;
	word-wrap: break-word;
}

.flower-element-footer {
	background-image: url('flowerContentFooter.png');
	width: 250px;
	height: 41px;
	text-align: center;
}

.flower-footer {
	background-image: url('flowerFooter.png');
	width: 250px;
	height: 55px;
}
